
.text{
    font-size: 1.5rem;
    color: #d62424;
    margin-bottom: 20px;
}
.card{
    width: 200px;
    height: 200px;
    background-color: rgb(252, 184, 247);
       
}
.card.title{
    white-space: wrap;
}
